<form #registrationForm="ngForm" (ngSubmit)="submit(registrationForm)">
    <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input
        #name="ngModel"
        type="text"
        class="form-control"
        name="name"
        id="name"
        aria-describedby="name"
        placeholder="Name"
        ngModel
        required
        minlength="3"
    />
    @if (name.invalid && (name.dirty || name.touched)) {
        <div class="alert alert-danger" role="alert">
            @if(name.hasError('required'))
             {<strong>Name is required</strong>}
            @if (name.hasError('minlength')) 
            {<div>Name must be at least 3 characters long.</div>}</div>
    }
</div>

<div class="mb-3">
    <label for="" class="form-label">Email</label>
    <input
        #email="ngModel"
        type="email"
        class="form-control"
        name="email"
        id="email"
        aria-describedby="emailHelpId"
        placeholder="abc@mail.com"
        ngModel
        required
        email="true"
    />
        @if (email.invalid && (email.dirty || email.touched)) {
        <div class="alert alert-danger" role="alert">
            @if(email.hasError('required'))
             {<strong>Email is required</strong>}
            @if (email.hasError('email')) 
            {<div>Provide real email</div>}</div>
    }
</div>
<div class="mb-3">
    <label for="" class="form-label">Password</label>
    <input
        #password="ngModel"
        type="password"
        class="form-control"
        name="password"
        id="password"
        placeholder="ABCdef123"
        ngModel
        required
        minlength="8"
    />
    @if (password.invalid && (password.dirty || password.touched)) {
        <div class="alert alert-danger" role="alert">
            @if(password.hasError('required'))
             {<strong>Password is required</strong>}
            @if (password.hasError('minlength')) 
            {<div>Password must be at least 8 characters long.</div>}</div>
    }
    @if (invalid) {
        <p class="text-danger">This email already used</p>
    }
</div>
<button [disabled]="registrationForm.invalid" class="btn btn-primary" type="submit">Create account</button>
</form>
<a routerLink="/login">Already have account? Sing in</a>

